/* Reset default margins and paddings */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Arial', sans-serif;
    background-color: #f9eae1;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    margin: 0;
}

h1 {
    text-align: center;
    font-size: 36px;
    margin-bottom: 20px;
    color: #ff6b6b;
}

.container {
    background-color: white;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
    max-width: 400px;
    width: 100%;
    /* Add transparent border */
    border: 1px solid rgba(255, 107, 107, 0.5);
}

label {
    font-size: 18px;
    color: #ff6b6b;
}

input {
    display: block;
    width: 100%;
    padding: 10px;
    margin: 8px 0;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 16px;
}

button {
    background-color: #ff6b6b;
    color: white;
    border: none;
    padding: 10px 20px;
    font-size: 18px;
    border-radius: 5px;
    cursor: pointer;
    width: 100%;
}

button:hover {
    background-color: #ff4f4f;
}

/* Adding some cute styles */
body {
    background-image: url('file/page.gif');
    background-size: cover;
    background-repeat: no-repeat;
}
